doctype html
html
  head
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="#BF360C"/>
    <meta property="og:type" content="website">

    title #{title}
  body
    div#app
    script(src='/client/master.js')